*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 200%;
    font-size: 16px;
    color: #171717;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: url('../img/icons/cursor-material.png'),auto;
}

h1{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4.8px;
    margin-bottom: 23px;
    text-align: center;
    color: #004AAD;
}

h2{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 26px;
    color: #004AAD;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}

h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 156%;
    text-align: left;
    margin-bottom: 9px;
}

h4{
    font-size: 18px;
    line-height: 200%;
    font-weight: 600;
    margin-bottom: 3px;

}

ul, ol{
    list-style-type: none;
}

.button{
    display: inline-block;
    margin: 0 auto;
    font-size: 21px;
    line-height: 200%;
    font-weight: 600;
    color: #fff;
    background-color: #004AAD;
    padding: 3px 27px 6px 27px;
    border-radius: 86px;
    transition: all .5s;
    cursor: url('../img/icons/cursor-material.png'),auto;
}

.button:hover{
    background-color: #002F6E;
    transition: all .5s;
}

.container{
    max-width: 1348px;
    margin: 0 auto;
}

.header{
    font-family: "Ubuntu Sans", sans-serif;
    border-bottom: 1px solid #E4E4E4;
}

.menu-inner .navbar-toggler{
    display: none;
}

.header-inner .container-fluid{
    display: block;
}

.header-inner .navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.menu-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-underline .nav-link{
    padding-top: 47px;
    padding-bottom: 47px;
}

.nav-link{
    padding: 0;
    color: #171717;
    font-size: 15px;
    font-weight: 700;
}

.nav-link:focus, .nav-link:hover{
    color: #004AAD;
}

.phone{
    color: #004AAD;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
}

.main{
    background-color: #004AAD;
    color: #fff;
    margin-bottom: 65px;
}

.main-inner{
    padding-top: 74px;
    padding-bottom: 82px;
    text-align: center;
}

.main-inner h1{
    max-width: 972px;
    margin: 0 auto;
}

.main-inner p{
    font-size: 24.49px;
    font-weight: 400;
    letter-spacing: 2.4px;
}

.about{
    margin-bottom: 46px;
}

.about-inner p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    max-width: 1120px;
    margin: 0 auto;
    text-align: center;
    line-height: 200%;
    margin-bottom: 20px;
}

.research{
    background-color: #FAFAFA;
    margin-bottom: 85px;
}

.research-inner{
    padding-top: 64px;
    padding-bottom: 83px;
    text-align: center;
}

.research-inner p{
    color: #171717;
    line-height: 200%;
    font-size: 16px;
    font-weight: 400;
    max-width: 890px;
    margin: 0 auto;
    margin-bottom: 34px;
}

.personal{
    margin-bottom: 98px;
}

.presonal-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal-info, .personal-foto{
    width: 50%;
}

.personal-info h2{
    text-align: left;
}

.personal-info p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    max-width: 500px;
    margin-bottom: 43px;
}


.personal-foto img{
    width: 100%;
    object-fit: cover;
    max-width: 548px;
}

.lectures{
    margin-bottom: 78px;
}

.lectures-inner p{
    font-size: 16px;
    color: #171717;
    font-weight: 400;
    line-height: 200%;
    text-align: center;
    max-width: 758px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.blog-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.blog-card{
    width: 25%;
    max-width: 319px;
    background-color: #FAFAFA;
    padding: 26px 27px 20px 26px;
    border-radius: 15px;
}

.blog-card img{
    border-radius: 15px;
    width: 100%;
    max-width: 266px;
    margin-bottom: 19px;
}

.blog-card h3{
    min-height: 56.16px;
}

.blog-card p{
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 200%;
    margin-bottom: 0;
    min-height: 60px;
}

.blog-card p span{
    font-weight: 700;
}

.lectures-inner .button{
    text-align: center;
    display: block;
    max-width: fit-content;
}

.lessons{
    background-color: #FAFAFA;
    margin-bottom: 76px;
}

.lessons-inner{
    padding-top: 75px;
    padding-bottom: 92px;
}

.lessons-inner p{
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    max-width: 858px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 41px;
}

.lessons-card{
    background-color: #fff;
    padding: 34px 32px 33px 32px;
    border-radius: 15px;
    display: flex;
    margin-bottom: 59px;
}

.lessons-card img{
    max-width: 317px;
    max-height: 190px;
    margin-right: 34px;
    border-radius: 15px;
}

.lesson-info{
    max-width: 672px;
}

.lesson-info span{
    color: #004AAD;
    font-size: 14px;
    font-weight: 700;
    line-height: 200%;
    margin-bottom: 5px;
}

.lesson-info h3{
    margin-bottom: 5px;
}

.lesson-info p{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: left;
}

.lesson-info p span{
    font-weight: 700;
    color: #000000;
    font-size: 15px;
}

.lessons .button{
    text-align: center;
    display: block;
    max-width: fit-content;
}

.articles{
    margin-bottom: 107px;
    text-align: center;
}

.articles-inner p{
    font-size: 16px;
    max-width: 655px;
    margin: 0 auto;
    font-weight: 400;
    margin-bottom: 46px;
    line-height: 200%;
}

.friends{
    background-color: #FAFAFA;
}

.friends-inner{
    padding-top: 79px;
    padding-bottom: 66.33px;
}

.friends-inner h2{
    text-align: left;
    margin-bottom: 57px;
}

.friends-slider{
    margin-bottom: 57px;
}

.slick-prev{
    border: none;
    background-image: url(../img/icons/left.png);
    width: 45px;
    max-width: 45px;
    height: 45px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all .5s;
    position: absolute;
    top: -60%;
    right: 5%;
    
}

.slick-prev:hover{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.20);
    transition: all .5s;
    cursor: url('../img/icons/cursor-material.png'),auto;
    
}

.slick-next{
    border: none;
    background-image: url(../img/icons/right.png);
    width: 45px;
    max-width: 45px;
    height: 45px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: all .5s;
    position: absolute;
    top: -60%;
    right: 0%;
}

.slick-next:hover{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.20);
    transition: all .5s;
    cursor: url('../img/icons/cursor-material.png'),auto;
}

.friends-slider-item{
    width: 25%;
    max-width: 319px;
    margin-right: 10px;
}

.friends-slider-item:last-child{
    margin-right: 0;
}

.friends-slider-foto img{
    width: 100%;
    min-width: 266px;
    max-width: 266px;
    margin-bottom: 21px;
}

.friends-slider-inner{
    background: #fff;
    text-align: center;
    padding: 26px 26.5px 26px 26.5px;
    border-radius: 20px;
}

.friends-slider-info p{
    font-size: 20px;
    line-height: 156%;
    font-weight: 600;
}

.friends .button{
    text-align: center;
    display: block;
    max-width: fit-content;
}

/* Стили футера */

.footer{
    background-color: #004AAD;
    color: #fff;
}

.footer a{
    color: #fff;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
    padding-bottom: 37px;
}

.footer-left{
    width: 33%;
    max-width: 387px;
}

.footer-center{
    width: 33%;
}

.footer-right{
    width: 33%;
    max-width: 484px;
}

.footer-left p{
    font-size: 16px;
    line-height: 200%;
    text-align: left;
    font-weight: 400;
    max-width: 321px;
    margin-bottom: 32px;
}

.footer-left span{
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    display: inline-block;
    text-align: left;
}

.footer-center a, .footer-center p{
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.footer-center p{
    display: inline-block;
}

.footer-right-content{
    display: flex;
    justify-content: space-between;
}

.footer-right-content a{
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    text-transform: uppercase;
    text-align: left;
}

/* Конец стилей футера */

/* Стили для страницы SEMINARS */

.seminar-page{
    background-color: #ffffff;
    margin-bottom: 28px;
}

.seminar-page h1{
    margin-bottom: 74px;
}

.seminar-page .lessons-card{
    margin-bottom: 0;
    border-bottom: 1px solid #E4E4E4;
    border-radius: 0;
}

.seminar-page .lessons-card:first-child{
    border-top: 1px solid #E4E4E4;
}

.seminar-page .lessons-inner h2{
    margin-bottom: 74px;
}

/* Конец стилей страницы SEMINARS */

/* Стили для страницы COURSES */

.courses{
    padding-top: 74px;
    padding-bottom: 122px;
    background-color: #FAFAFA;
}

.courses h1{
    margin-bottom: 60px;
}

.courses h2{
    margin-bottom: 60px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 4.8px;
}

.courses-general{
    margin-bottom: 94px;
}

.courses-elective{
    margin-bottom: 111px;
}

.courses-list{
    display: flex;
    flex-wrap: wrap;
}

.courses-list-item{
    background-color: #fff;
    padding: 20px;
    width: 25%;
    max-width: 319px;
    height: fit-content;
    min-height: 168px;
    border-radius: 15px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.courses-list-item:nth-child(4), .courses-list-item:nth-child(8), .courses-list-item:nth-child(12), .courses-list-item:nth-child(16), .courses-list-item:nth-child(20){
    margin-right: 0;
}

.courses-list-item h3{
    margin-bottom: 12px;
}

.courses-list-item p{
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
}

.courses-list-item p span{
    font-weight: 700;
}

/* Конец стилей для страницы COURSES */

/* Стили для страницы STAFF */

.staff-inner{
    padding-top: 74px;
    padding-bottom: 74px;
}

.staff-inner h1, .staff-inner h2{
    margin-bottom: 74px;
}

.staff-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.staff-card{
    display: flex;
    width: 50%;
    max-width: 661px;
    margin-bottom: 50px;
}

.staff-card img{
    margin-right: 25px;
    border-radius: 15px;
}

.staff-card h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 150%;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.staff-card p, .staff-card a{
    text-decoration: none;
    color: #171717;
    line-height: 200%;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.staff-card p span{
    font-weight: 700;
}


/* Конец стилей для страницы STAF */

/* Стили для страницы PUBLICATIONS */

.publications-inner{
    padding-top: 74px;
    padding-bottom: 14px;
}

.publications-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 74px;
}

.publications-title p{
    font-family: "Ubuntu Sans", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    color: #004AAD;
    text-transform: uppercase;
    letter-spacing: 3px;
    letter-spacing: 4.8px;
}

.publications-inner h2{
    font-size: 48px;
    margin-bottom: 0;
    letter-spacing: 4.8px;
}

.publications-content{
    margin-bottom: 65px;
}

.publications-item{
    padding: 22px 25px 25px 25px;
    border-bottom: 1px solid #E4E4E4;
}

.publications-item:first-child{
    border-top: 1px solid #E4E4E4;
}

.publications-item p{
    font-size: 16px;
    font-weight: 600;
    line-height: 200%;
    margin-bottom: 9px;
}

.publications-item span{
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
}


.publications-item a{
    font-size: 16px;
    line-height: 200%;
    font-weight: 400;
    color: #004AAD;
    text-decoration: underline;
}

/* Конец стилей для страницы PUBLICATIONS */

/* Стили для страницы PARTNERS */

.partners{
    background-color: #FAFAFA;
}

.partners-inner{
    padding-top: 74px;
    padding-bottom: 116.33px;
}

.partners-inner h1{
    margin-bottom: 74px;
}

.partners-content{
    display: flex;
    flex-wrap: wrap;
}

.partners-card{
    width: 25%;
    max-width: 319px;
    background-color: #fff;
    text-align: center;
    padding: 26px 26.5px 26px 26.5px;
    border-radius: 20px;
    margin-bottom: 16px;
    margin-right: 16px;
}

.partners-card:nth-child(4), .partners-card:nth-child(8), .partners-card:nth-child(12), .partners-card:nth-child(16), .partners-card:nth-child(20){
    margin-right: 0;
}

.partners-card img{
    width: 100%;
    margin-bottom: 21px;
}

.partners-card a{
    color: #171717;
}

.partners-card a:hover{
    color: #004AAD;
}

.partners-card p{
    font-size: 20px;
    font-weight: 600;
    line-height: 156%;
}

/* Конец стилей для страницы PARTNERS */

/* Стили для страницы PROJECTS */

.projects-inner{
    padding-top: 74px;
    padding-bottom: 82px;
}

.projects-main h1{
    margin-bottom: 58px;
}

.projects-main p{
    max-width: 777px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.projects-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-card{
    width: 25%;
    max-width: 319px;
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 26.5px 30px;
    min-height: 173px;
    display: flex;
    align-items: center;
}

.info-card p{
    max-width: 259px;
    color: #004AAD;
    font-size: 20px;
    line-height: 200%;
    font-weight: 700;
    margin-bottom: 0;
}

/* Конец стилей для страницы PROJECTS */